<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:left">
  <h1>
    Welcome to {{title}}!
  </h1>
  <hr />
  <nav>
    <!--routerLink especifica la ruta y routerLinkActive especifica un estilo cuando el link este activo-->
    <a [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a> -
    <a [routerLink]="['/employee']" [routerLinkActive]="['active']">Empleado</a> -
    <a [routerLink]="['/fruit']" [routerLinkActive]="['active']">Fruta</a> -
    <a [routerLink]="['/contact']" [routerLinkActive]="['active']">Contacto</a> -
    <a [routerLink]="['/car']" [routerLinkActive]="['active']">Carros</a> -
    <a [routerLink]="['/templates']" [routerLinkActive]="['active']">Plantillas</a>
  </nav>
  <hr>
  <router-outlet></router-outlet> <!--Permite crear namedRoutes-->
